.categories-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    color: #495057;
    margin-right: 20px;
    text-decoration: none;
}

.categories-title:hover {
    color: #D4A373;
}